main {
    height: 100vh;
    width: 100%;

    .text {
        text-align: center;
    }

    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }

    .coin-info-card {
        height: 100px;
        width: 150px;
        background-color: cadetblue;
        border-radius: 6px;
        padding: 10px;
    }
}
