<main class="main__app">
    <div class="title">
        <h2>Autocomplete Search App!!</h2>
    </div>
    <div class="search__input">
        <input type="search" [formControl]="searchInput" (focus)="isShowResult = true" (blur)="isShowResult = false" />
    </div>
    <div *ngIf="isShowResult">
        <div [ngClass]="isShowResult ? 'search__results' : ''">
            <div *ngFor="let result of searchResult">
                <p>{{ result?.name }}</p>
            </div>
        </div>
    </div>
</main>